<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerName" value="192.168.1.12" />
    <add key="DatabaseName" value="IMS" />
    <add key="UserName" value="ims" />
    <add key="Password" value="Smu@1928" />
    <add key="Encryption_Key" value="RfUjXn2r5u8x/A?D" />
    <add key="LServerName" value="127.0.0.1" />
    <add key="LDatabaseName" value="IMS" />
    <add key="LUserName" value="sa" />
    <add key="LPassword" value="jed787898" />
    <add key="LEncryption_Key" value="RfUjXn2r5u8x/A?D" />
  </appSettings>
</configuration>
