USE [IMS]
GO
/****** Object:  User [ims]    Script Date: 5/2/2023 9:44:46 AM ******/
CREATE USER [ims] FOR LOGIN [ims] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ims]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ims]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ims]
GO
/****** Object:  Table [dbo].[IMS_LOG]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_LOG](
	[LOG_IDX] [int] IDENTITY(1,1) NOT NULL,
	[LOG_USR] [varchar](50) NULL,
	[LOG_ROL] [varchar](50) NULL,
	[LOG_ACT] [varchar](1000) NOT NULL,
	[LOG_LIP] [varchar](50) NOT NULL,
	[LOG_MADR] [varchar](50) NOT NULL,
	[LOG_DNME] [varchar](50) NOT NULL,
	[LOG_SEID] [varchar](50) NULL,
	[LOG_TMP] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_IMS_LOG] PRIMARY KEY CLUSTERED 
(
	[LOG_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_RFN_BRA]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_RFN_BRA](
	[BRA_IDX] [int] IDENTITY(1,1) NOT NULL,
	[BRA_COD] [varchar](50) NULL,
	[BRA_DES] [varchar](50) NULL,
 CONSTRAINT [PK_IMS_RFN_BRA] PRIMARY KEY CLUSTERED 
(
	[BRA_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_RFN_OFF]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_RFN_OFF](
	[OFF_IDX] [int] IDENTITY(1,1) NOT NULL,
	[OFF_COD] [int] NOT NULL,
	[OFF_DES] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_RFN_ROL]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_RFN_ROL](
	[ROL_IDX] [int] IDENTITY(1,1) NOT NULL,
	[ROL_COD] [int] NOT NULL,
	[ROL_DES] [varchar](50) NOT NULL,
 CONSTRAINT [PK_IMS_RFN_ROL] PRIMARY KEY CLUSTERED 
(
	[ROL_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_RFN_SCA]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_RFN_SCA](
	[SCA_IDX] [int] IDENTITY(1,1) NOT NULL,
	[SCA_COD] [int] NOT NULL,
	[SCA_DES] [varchar](50) NOT NULL,
 CONSTRAINT [PK_IMS_RFN_SCA] PRIMARY KEY CLUSTERED 
(
	[SCA_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_RFN_SCAT]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_RFN_SCAT](
	[SCAT_IDX] [int] IDENTITY(1,1) NOT NULL,
	[SCAT_COD] [int] NOT NULL,
	[SCAT_DES] [varchar](50) NOT NULL,
 CONSTRAINT [PK_IMS_RFN_SCAT] PRIMARY KEY CLUSTERED 
(
	[SCAT_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_RFN_SCOL]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_RFN_SCOL](
	[SCOL_IDX] [int] IDENTITY(1,1) NOT NULL,
	[SCOL_COD] [int] NOT NULL,
	[SCOL_DES] [varchar](50) NOT NULL,
 CONSTRAINT [PK_IMS_RFN_SCOL] PRIMARY KEY CLUSTERED 
(
	[SCOL_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_RFN_SUNT]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_RFN_SUNT](
	[SUNT_IDX] [int] IDENTITY(1,1) NOT NULL,
	[SUNT_COD] [int] NOT NULL,
	[SUNT_DES] [varchar](50) NOT NULL,
 CONSTRAINT [PK_IMS_RFN_SUNT] PRIMARY KEY CLUSTERED 
(
	[SUNT_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_RFN_SUP]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_RFN_SUP](
	[SUP_IDX] [int] IDENTITY(1,1) NOT NULL,
	[SUP_COD] [int] NOT NULL,
	[SUP_DES] [varchar](50) NOT NULL,
 CONSTRAINT [PK_IMS_RFN_SUP] PRIMARY KEY CLUSTERED 
(
	[SUP_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_SITE]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_SITE](
	[SITE_IDX] [int] IDENTITY(1,1) NOT NULL,
	[SITE_COD] [varchar](50) NOT NULL,
	[SITE_DES] [varchar](200) NOT NULL,
	[SITE_SCAT] [varchar](50) NOT NULL,
	[SITE_SCA] [varchar](50) NULL,
	[SITE_SUNT] [varchar](50) NOT NULL,
	[SITE_SCOL] [varchar](50) NULL,
	[SITE_QOH] [int] NULL,
 CONSTRAINT [PK_IMS_SITE] PRIMARY KEY CLUSTERED 
(
	[SITE_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_STOC]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_STOC](
	[STOC_IDX] [int] IDENTITY(1,1) NOT NULL,
	[STOC_COD] [varchar](50) NOT NULL,
	[STOC_SUP] [varchar](50) NOT NULL,
	[STOC_DTE] [datetime2](7) NOT NULL,
	[STOC_BRA] [varchar](50) NOT NULL,
	[STOC_COS] [decimal](18, 2) NOT NULL,
	[STOC_QTY] [int] NOT NULL,
 CONSTRAINT [PK_IMS_STOC] PRIMARY KEY CLUSTERED 
(
	[STOC_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMS_USR]    Script Date: 5/2/2023 9:44:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMS_USR](
	[USR_IDX] [int] IDENTITY(1,1) NOT NULL,
	[USR_COD] [varchar](50) NOT NULL,
	[USR_NME] [varchar](50) NOT NULL,
	[USR_PWD] [varchar](1000) NOT NULL,
	[USR_ROL] [varchar](2) NOT NULL,
	[USR_OFF] [varchar](3) NULL,
	[USR_ACT] [varchar](1) NOT NULL,
 CONSTRAINT [PK_IMS_USR] PRIMARY KEY CLUSTERED 
(
	[USR_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IMS_LOG] ADD  CONSTRAINT [DF_IMS_LOG_LOG_TMP]  DEFAULT (getdate()) FOR [LOG_TMP]
GO
ALTER TABLE [dbo].[IMS_STOC] ADD  CONSTRAINT [DF_IMS_STOC_STOC_DTE]  DEFAULT (getdate()) FOR [STOC_DTE]
GO
